body {
}

.nav-wrapper {
    background-color: #0d47a1 !important;
}

.nav {
    color: #fff;
    background-color: #37474f !important;
}

.side-nav {
    color: white;
    background-color: #fafafa !important;
}

.page-footer {
    background-color: #0d47a1 !important;
}

.footer {
    background-color: #0d47a1 !important;
}

.a {
    font-size: 50px;
}

.fon-size {
    font-size: 20px;
}

.txt-special {
    font-size: 35px;
}


